<!-- Toolbar elements -->
<span *ngIf="loading">
  Loading...
</span>
<span class="ot-action" *ngIf="userName" title="Current user being logged in." on-click="toggleMenu()">
  <i class="fas fa-user"></i>
  {{userName}}
</span>
<span id="show-sidebar" class="btn btn-sm btn-dark" title="Displays the user menu." on-click="toggleMenu()">
  <i class="fas fa-bars" [ngClass]="{
    'fa-rotate-90': menuBarVisible
  }"></i>
</span>
<!-- Side bar menu -->
<nav id="user-menu" class="user-menu" [hidden]="!menuBarVisible">
  <div *ngFor="let uiAction of uiActions"
       class="user-menu-item text-light"
       title="{{ uiAction.description }}">
    <span *ngIf="isUri(uiAction)">
      <a href="{{ getUri(uiAction) }}">
        <i class="fas fa-{{ uiAction.icon }}"></i>
        {{ uiAction.name }}
      </a>
    </span>
  </div>
</nav>
