$otIconSize: 24px;
$otIconSizeMini: 16px;

@mixin ot-action {
  cursor: pointer;
}


@mixin ot-description {
  font-style: italic;
  color: #808080;
}

.ot-action {
  @include ot-action;
}

.ot-icon {
  width: $otIconSize;
  height: $otIconSize;
  min-width: $otIconSize;
  min-height: $otIconSize;
  max-width: $otIconSize;
  max-height: $otIconSize;
}

.ot-icon-mini {
  width: $otIconSizeMini;
  height: $otIconSizeMini;
  min-width: $otIconSizeMini;
  min-height: $otIconSizeMini;
  max-width: $otIconSizeMini;
  max-height: $otIconSizeMini;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
