<form class="{{boxClass}}">
  <div class="input-group">
    <div class="input-group-prepend">
      <div ngbDropdown class="d-inline-block">
        <button id="ot-searchbox-{{boxId}}-type-button"
                type="button"
                class="btn btn-light"
                title="{{selectedSearchResultType.description}}"
                ngbDropdownToggle>
          <span *ngIf="selectedSearchResultType.feature.id">
            <img class="ot-icon-mini" src="/extension/{{selectedSearchResultType.feature.id}}/search-icon/{{selectedSearchResultType.id}}.png"/>
          </span>
          {{selectedSearchResultType.name}}&nbsp;<span class="caret"></span>
        </button>
        <div ngbDropdownMenu>
          <button type="button" ngbDropdownItem id="ot-searchbox-{{boxId}}-type-none" on-click="selectAllSearchResultTypes()">Any</button>
          <button type="button" ngbDropdownItem *ngFor="let type of searchResultTypes"
                  on-click="selectSearchResultType(type)"
                  id="ot-searchbox-{{boxId}}-type-{{type.id}}" [title]=type.description>
            <img class="ot-icon" src="/extension/{{type.feature.id}}/search-icon/{{type.id}}.png"/>
            {{type.name}}
          </button>
        </div>
      </div>
    </div>
    <input type="text"
           id="ot-searchbox-{{boxId}}-token"
           class="form-control"
           placeholder="Search..."
           aria-label="Text input with dropdown for the search">
    <div class="input-group-append">
      <button class="btn btn-light" type="submit" id="ot-searchbox-{{boxId}}-button" title="Launches the search">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</form>
