<form class="form-inline">
  <div class="input-group">
    <div class="input-group-prepend">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button type="button" ngbDropdownItem>Action - 1</button>
          <button type="button" ngbDropdownItem>Another Action</button>
          <button type="button" ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Search..."
           aria-label="Text input with dropdown button">
    <div class="input-group-append">
      <button class="btn btn-light" type="button" id="button-addon2">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</form>
