<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <!-- Logo -->
  <a class="navbar-brand text-light">
    <img
      width="40"
      alt="Ontrack Logo"
      src="assets/logo-256.png"
    />
    <span>Ontrack</span>
  </a>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <!-- Search box -->
      <li class="nav-item">
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Any
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Search..."
                   aria-label="Text input with dropdown button">
            <div class="input-group-append">
              <button class="btn btn-light" type="button" id="button-addon2">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </li>
      <!-- User info -->
      <li class="nav-item">
        <span class="nav-link">
          <ot-user-menu></ot-user-menu>
        </span>
      </li>
    </ul>
  </div>
</nav>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-3">-->
<!--  &lt;!&ndash; User info &ndash;&gt;-->
<!--  <span class="ml-auto">-->
<!--    <ot-user-menu></ot-user-menu>-->
<!--  </span>-->
<!--</nav>-->
