<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <!-- Logo -->
  <a class="navbar-brand text-light" [routerLink]="['/home']">
    <img
      width="40"
      alt="Ontrack Logo"
      src="assets/logo-256.png"
    />
    <span>Ontrack</span>
  </a>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <!-- Search box -->
      <li class="nav-item">
        <ot-search-box box-id="top"></ot-search-box>
      </li>
      <!-- User info -->
      <li class="nav-item">
        <span class="nav-link">
          <ot-user-menu></ot-user-menu>
        </span>
      </li>
    </ul>
  </div>
</nav>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-3">-->
<!--  &lt;!&ndash; User info &ndash;&gt;-->
<!--  <span class="ml-auto">-->
<!--    <ot-user-menu></ot-user-menu>-->
<!--  </span>-->
<!--</nav>-->
